a {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

tbody a:link {
    color: red;
}

tbody a:visited {
    color: purple;
}

/*
tbody a:hover {
    color: red;
}
*/

thead, tbody .even {
    background-color: #eee
}
