<style>
    #logs table,
    thead,
    tfoot,
    tbody,
    tr,
    th,
    td {
        border: 1px solid black;
        text-align: center;
        font-family: monospace;
        border-collapse: collapse;
    }

    #logs thead, tfoot {
        background-color: lightyellow;
    }

    #logs tr:nth-child(even) {
        background-color: #ddd;
    }

    #logs td.left-align {
        text-align: left;
    }

    #logs {
        margin: 4px;
    }

    #logs table td#date {
        width: 11em;
    }

    #logs table td#type {
        width: 10em;
    }

    #logs table td pre {
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        margin: 4px;
    }
</style>
