# This .gitignore file had been causing problems with git in subdirectories
# 20180320  rlo
angular_projects/
bootstrap4_projects/
bootstrap_projects/
# haskell_projects/
html5_projects/
javascript_projects/
# processingjs_projects/
python35_projects/
python_projects/
rails_projects/
repos/
roku_projects/
vagrant_projects/
#####
__pycache__/
encode_location.bat
vmake.bat
