backports-abc==0.4
cycler==0.10.0
decorator==4.0.9
ipython==4.1.1
ipython-genutils==0.1.0
Jinja2>=2.10.1
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
networkx==1.11
numpy==1.10.4
pandas==0.17.1
path.py==8.1.2
pbr==1.1.0
pickleshare==0.6
Pillow>=8.1.2
pylab==0.1.3
pyparsing==2.1.0
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.2.0
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
six==1.9.0
stevedore==1.5.0
sympy==0.7.6.1
tornado==4.3
traitlets==4.1.0
virtualenv==13.0.3
virtualenv-clone==0.2.5
virtualenvwrapper-win==1.2.0
