<!DOCTYPE html>
<!-- https://addyosmani.com/backbone-fundamentals/#exercise-2-book-library---your-first-restful-backbone.js-app -->
<!-- https://addyosmani.com/backbone-fundamentals/#wiring-in-the-interface -->
<!-- https://addyosmani.com/backbone-fundamentals/#creating-the-back-end -->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Backbone.js Library</title>
    <link rel="stylesheet" href="css/screen.css">
</head>

<body>
    Links to recent stopping point
    <ul>
        <li>
            <a href="https://addyosmani.com/backbone-fundamentals" target="_blank">
                Developing Backbone.js Applications
            </a>
        </li>
        <li>
            <a href="https://addyosmani.com/backbone-fundamentals/#wiring-in-the-interface" target="_blank">
                Wiring the Interface
            </a>
        </li>
        <li>
            <a href="https://addyosmani.com/backbone-fundamentals/#creating-the-back-end" target="_blank">
                Creating the Back End
            </a>
            <br>
            <pre class="pre">
url             HTTP Method  Operation
/api/books      GET          Get an array of all books
/api/books/:id  GET          Get the book with id of :id
/api/books      POST         Add a new book and return the book with an id attribute added
/api/books/:id  PUT          Update the book with id of :id
/api/books/:id  DELETE       Delete the book with id of :id
            </pre>
        </li>
    </ul>


    </a>
    <br>
    <br>
    <div id="books">
        <form id="addBook" action="#">
            <div>
                <label for="coverImage">CoverImage: </label><input id="coverImage" type="file" />
                <label for="title">Title: </label><input id="title" type="text" />
                <label for="author">Author: </label><input id="author" type="text" />
                <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
                <label for="keywords">Keywords: </label><input id="keywords" type="text" />
                <button id="add">Add</button>
            </div>
        </form>
        <!-- <div class="bookContainer">
            <img src="img/placeholder.png" />
            <ul>
                <li>Title</li>
                <li>Author</li>
                <li>Release Date</li>
                <li>Keywords</li>
            </ul>
            <button class="delete">Delete</button>
        </div>
        <div class="bookContainer">
            <img src="img/placeholder.png" />
            <ul>
                <li>Title</li>
                <li>Author</li>
                <li>Release Date</li>
                <li>Keywords</li>
            </ul>
            <button class="delete">Delete</button>
        </div>
        <div class="bookContainer">
            <img src="img/placeholder.png" />
            <ul>
                <li>Title</li>
                <li>Author</li>
                <li>Release Date</li>
                <li>Keywords</li>
            </ul>
            <button class="delete">Delete</button>
        </div>
        <div class="bookContainer">
            <img src="img/placeholder.png" />
            <ul>
                <li>Title</li>
                <li>Author</li>
                <li>Release Date</li>
                <li>Keywords</li>
            </ul>
            <button class="delete">Delete</button>
        </div> -->
    </div>
    <script id="bookTemplate" type="text/template">
        <img src="<%= coverImage %>"/>
        <ul>
            <li>
                <%= title %>
            </li>
            <li>
                <%= author %>
            </li>
            <li>
                <%= releaseDate %>
            </li>
            <li>
                <%= keywords %>
            </li>
        </ul>
        <button class="delete">Delete</button>
    </script>
    <script src="1211656\relativePath.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/models/book.js"></script>
    <script src="js/collections/library.js"></script>
    <script src="js/views/book.js"></script>
    <script src="js/views/library.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
